<p style="color: green"><%= notice %></p>

<%= render @ticket %>

<div>
  
  <% if can? :edit, @ticket %>
    <%= link_to "Edit this ticket", edit_ticket_path(@ticket) %> |
  <% end %>
  
  <%= link_to "Volver a la lista de boletas", root_path %>

  <%= link_to "Imprimir boleta", ticket_path(@ticket,:format => :pdf) %>
</div>
